


services:
  db:
    image: postgres:14.3
    restart: always
    ports:
      - "5132:5432"
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    container_name: livican
    volumes:
      - ./postgres:/var/lib/postgresql/data
    networks:
      - default

networks:
  default:
    ipam:
      driver: default
      config:
        - subnet: 10.158.0.0/16